<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <div class="productos"> 
        <h1>Productos</h1>
        <ul>
            <li>Remeras</li>
            <li>Pantalones</li>
            <li>Gorras</li>
            <li>Posters</li>
            <li>Accesorios</li>
        </ul>
    </div>
</body>
</html>