.bg{
    background-color: blueviolet;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.div-users{
    display: flex;
    justify-content: center;
    gap: 1rem;
}