<section style="display: flex; flex-direction: row; justify-content: center;">
    <form action="addUser" method="post" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 5rem;">
        <label for="Nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="Ingresar nombre" id="nombre" required>

        <label for="Apellido">Apellido</label>
        <input type="text" name="apellido" placeholder="Ingresar apellido" id="apellido" required>

        <label for="Email">Correo</label>
        <input type="email" name="email" placeholder="Ingresar mail" id="email" required>
   
        <button type="submit" style="gap: 5rem;">Agregar usuario</button>
    </form>
</section>